/* Importation des styles de base de Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Styles personnalisés */

/* Fond et header aux couleurs de Rick and Morty */
body {
    background-color: #131415; /* Couleur de fond sombre */
}

nav {
    background-color: #2d2f30; /* Couleur de fond du header */
    color: #fff; /* Couleur du texte du header */
}

/* Police "cartoon" pour les titres et le texte */
h2, h3, .card p {
    font-family: 'Roboto', sans-serif; /* Utilisation de la police Roboto pour les titres */
    color: #f2f2f2; /* Couleur de texte pour les titres */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour donner un effet cartoon */
}

/* Logo de rick and Morty*/
.logo {
    width: 150px;
    height: auto;
    margin: 10px auto; /* Pour centrer horizontalement*/
    display: block; /* Pour centrer verticalement*/
    position: absolute; /* Position absolue pour placer le logo*/
    top: 10px; /* Espacement par rapport au haut de la page*/
    left: 50%; /* Centrage horizontal*/
    transform: translate(-50%); /* Centrage Horizontal*/
}

/* Boutons */
.btn {
    padding: 8px 16px;
    background-color: #5f63ad; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif; /* Police "cartoon" pour les boutons*/
}

.btn:hover {
    background-color: #7687cc; /* Couleur de fond des boutons au survol */
}

/* Cartes des personnages */
.card {
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 16px;
    transition: transform 0.3s ease;
    background-color: #1f2122; /* Couleur de fond des cartes */
    color: #f2f2f2; /* Couleur du texte des cartes */
}

/* Ajout de défilement vertical pour les cartes */
.card {
    overflow-y: auto; /* Défilement vertical*/
    max-height: 400px; /*Hauteur maximale de la carte*/
}

.card:hover {
    transform: scale(1.05);
}

/* Ajout d'une touche de vert */
body {
    background-color: #131415; /* Fond sombre */
}

nav {
    background-color: #2d2f30; /* Header */
}

.btn, .card {
    border-color: #3f8749; /* Bordures des boutons et des cartes */
}

.btn {
    background-color: #5f63ad; /* Boutons */
}

.btn:hover {
    background-color: #7687cc; /* Boutons au survol */
}

.card {
    background-color: #1f2122; /* Cartes */
}

